@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --primary-bg: #121212;
  --secondary-bg: #1e1e1e;
  --tertiary-bg: #282828;
  --accent-color: #1DB954;
  --text-color: #fff;
  --subtle-text: #b3b3b3;
  --dark-gray: #424242;
  --border-radius: 8px;
  --spacing-unit: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-bg);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--spacing-unit);
  padding-top: 0%;
  gap: var(--spacing-unit);
  overflow-y: auto;
}

.top-bar {
  display: flex;
  align-items: center;
  gap: var(--spacing-unit);
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--primary-bg);
  padding: 1rem;
  margin: -1rem;
  margin-bottom: 0;
}

.search-container {
  flex-grow: 1;
  position: relative;
}

.search-container form {
  display: flex;
  gap: 0.5rem;
}

.search-container input {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  border: none;
  background-color: var(--tertiary-bg);
  color: var(--text-color);
  font-size: 1rem;
}

.search-button {
  background-color: var(--accent-color);
  border: none;
  border-radius: 10px;
  width: 6.5rem;
  height: 2.5rem;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--tertiary-bg);
  border-radius: var(--border-radius);
  list-style: none;
  z-index: 10;
  margin-top: 0.5rem;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  scrollbar-width: none;
}

.suggestions::-webkit-scrollbar {
  display: none;
}

.suggestions li {
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  border-bottom: 1px solid var(--secondary-bg);
}

.suggestions li:last-child {
  border-bottom: none;
}

.suggestions li:hover {
  background-color: var(--secondary-bg);
  color: var(--primary-text);
}



.main-content {
  flex-grow: 1;
  padding-bottom: 100px;
}

.home-screen, .playlist-view {
  flex-grow: 1;
}

.section {
  margin-bottom: 2rem;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.song-list, .playlist-items {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 0.5rem;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) var(--tertiary-bg);
}

.song-list::-webkit-scrollbar, .playlist-items::-webkit-scrollbar {
  height: 6px;
  background-color: var(--tertiary-bg);
}

.song-list::-webkit-scrollbar-thumb, .playlist-items::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 10px;
}

.song-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  text-align: center;
  cursor: pointer;
}

.song-item img, .playlist-item img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  object-fit: cover;
}

.song-item h4 {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.playlist-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.playlist-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-bg);
  border-radius: var(--border-radius);
  margin-bottom: 0.5rem;
  padding: 10px 15px;
  cursor: pointer;
  height: auto;
  min-height: 70px;
  transition: background-color 0.2s ease-in-out;
  border-right: 2px solid #1db954;
  border-left: 2px solid #1db954;
}

.playlist-item:hover {
  background-color: #3e3e3e;
}

.playlist-item img {
  width: 60px;
  height: 60px;
  margin: 0;
}

.playlist-info {
  margin: 0;
}

.playlist-info h4 {
  margin: 0;
  color: var(--text-color);
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.playlist-info p {
  margin: 0;
  color: var(--subtle-text);
  font-size: 0.85em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.playlist-song-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
  gap: 20px;
}

.remove-song-button {
  background: none;
  border: none;
  color: var(--subtle-text);
  font-size: 1.2em;
  cursor: pointer;
  margin-left: 15px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease-in-out;
}

.remove-song-button:hover {
  color: var(--text-color);
}

.remove-song-button svg {
  pointer-events: none;
}

.player-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  z-index: 100;
}

.player-home-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1.5em;
  cursor: pointer;
  z-index: 101;
  transition: color 0.2s ease-in-out;
}

.player-home-button:hover {
  color: var(--accent-color);
}

.player-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 12px;
  background: var(--secondary-bg);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  position: relative;
   

}

.player-album-image {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

.player-info {
  text-align: center;
  margin-bottom: 20px;
}

.player-song-title {
  font-size: 1.8em;
  font-weight: 600;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90vw;
}

.player-song-artist {
  font-size: 1.1em;
  color: var(--subtle-text);
  margin-top: 5px;
}

.player-song-album {
  font-size: 0.9em;
  color: #8c8c8c;
  margin-top: 5px;
  font-style: italic;
}

.controls-container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.seek-slider {
  width: 100%;
  -webkit-appearance: none;
  height: 5px;
  background: #3e3e3e;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.seek-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: var(--text-color);
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  transition: background 0.2s ease-in-out;
}

.seek-slider::-webkit-slider-thumb:hover {
  background: var(--accent-color);
}

.time-display {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.8em;
  color: var(--subtle-text);
}

.player-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.player-button {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1.5em;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.player-button:hover {
  color: var(--accent-color);
}

.play-pause {
  font-size: 2.5em;
  color: var(--accent-color);
}

.add-to-list-btn {
  background: var(--tertiary-bg);
  color: var(--text-color);
  border: 1px solid var(--dark-gray);
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 600;
  transition: background 0.2s ease-in-out;
}

.add-to-list-btn:hover {
  background: var(--dark-gray);
}

/* --- Player Top Buttons --- */
.player-top-buttons {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  gap: 15px;
  z-index: 10;
}

.share-button,
.like-button {
  background: transparent !important;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  color: #fff;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));

  
}

.share-button:hover,
.like-button:hover {
  color: var(--accent-color);
}

/* --- Additional Styles for Share and Like Buttons --- */
.share-button {
  color: #0bdf2e;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
}

.auth-button {
  padding: 0.5rem 1rem;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  color: var(--accent-color);
  border-radius: 50px;
  cursor: pointer;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  
}

.auth-form {
  padding: 2rem;
  background-color: var(--secondary-bg);
  border-radius: var(--border-radius);
  width: 90%;
  max-width: 400px;
  /* Initial shadow color */
  box-shadow: 0 0 60px -10px #1DB954;
  /* Add the animation */
  animation: neon-glow 5s linear infinite;
}

@keyframes neon-glow {
  0% {
    /* Start with the green glow */
    box-shadow: 0 0 60px -10px #1DB954;
  }
  25% {
    /* Transition to a slightly different hue */
    box-shadow: 0 0 60px -10px #0f7a36;
  }
  50% {
    /* Transition to another hue */
    box-shadow: 0 0 60px -10px #1DB954;
  }
  75% {
    /* Transition to a different hue */
    box-shadow: 0 0 60px -10px #0f7a36;
  }
  100% {
    /* Back to the original color, completing the loop */
    box-shadow: 0 0 60px -10px #1DB954;
  }
}

.auth-form h2 {
  margin-bottom: 1.5rem;
}

.auth-form .innerform {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-form input {
  padding: 0.75rem 1rem;
  border: 1px solid var(--dark-gray);
  border-radius: var(--border-radius);
  background-color: var(--tertiary-bg);
  color: var(--text-color);
}

.auth-form button[type="submit"] {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--accent-color);
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.auth-button.switchbutton {
  background: none;
  border: none;
  color: var(--subtle-text);
  margin-top: 0.5rem;
  cursor: pointer;
}

/* ========================================= */
/* --- MINI PLAYER STYLES (MOBILE FIRST) --- */
/* ========================================= */

.mini-player-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, #0636b9, #4379ec);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  color: hsl(0, 0%, 100%);
  z-index: 99;
  border-top: 1px solid #3e3e3e;
}

.mini-player-song-info {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-grow: 1;
  overflow: hidden;
  margin-right: 10px; /* Added some margin for mobile */
}

.mini-player-image {
  width: 45px; /* Slightly smaller for mobile */
  height: 45px;
  border-radius: 5px;
  margin-right: 10px;
}

.mini-player-text {
  overflow: hidden;
}

.mini-player-text h4 {
  margin: 0;
  font-size: 0.9em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mini-player-text p {
  margin: 0;
  font-size: 0.7em;
  color: #b3b3b3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mini-player-album {
  font-size: 0.6em;
  color: #8c8c8c;
  font-style: italic;
}

.mini-player-controls {
  display: flex;
  align-items: center;
  gap: 8px; /* Spacing between buttons for mobile */
}

.mini-player-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.3em; /* Slightly smaller buttons for mobile */
  cursor: pointer;
  transition: color 0.2s;
  padding: 5px; /* Add padding for easier tapping */
}

.mini-player-button:hover {
  color: #1db954;
}

/* ========================================= */
/* --- DESKTOP STYLES (MIN-WIDTH 768PX) --- */
/* ========================================= */

@media (min-width: 768px) {
  .mini-player-container {
    padding: 15px 50px; /* Increased padding for desktop */
  }

  .mini-player-song-info {
    margin-right: 20px;
  }

  .mini-player-image {
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }

  .mini-player-text h4 {
    font-size: 1.1em;
  }

  .mini-player-text p {
    font-size: 0.8em;
  }

  .mini-player-album {
    font-size: 0.7em;
  }

  .mini-player-controls {
    gap: 15px; /* More space between buttons on desktop */
  }
  
  .mini-player-button {
    font-size: 1.5em; /* Larger buttons on desktop */
    padding: 8px;
  }
}

/* Other CSS styles for the app... */
/* ... */

/* Media Queries */
@media (max-width: 768px) {
  .playlist-info h4,
  .playlist-info p {
    max-width: 150px;
  }
  .search-button {
    background-color: var(--accent-color);
    border: none;
    border-radius: 20%;
    width: 3.7rem;
    height: 2.5rem;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px !important;
    width: 100px;
  }
  .search-container form {
    display: flex;
    gap: 0.2rem;
  }

  .search-container input {
    width: 140%;
    padding: 0.75rem 1rem;
    border-radius: 10px;
    border: none;
    background-color: var(--tertiary-bg);
    color: var(--text-color);
    font-size: 1rem;
  }
 
}

@media (max-width: 600px) {
  .player-content {
    padding: 15px;
  }
  .player-album-image {
    width: 300px;
    height: 330px;
  }
  .player-song-title {
    font-size: 1.5em;
  }
  .player-song-artist {
    font-size: 1em;
  }
  .player-buttons {
    gap: 15px;
  }
  .play-pause {
    font-size: 2em;
  }
  .add-to-liked-btn {
    top: 20px;
    right: 20px;
  }
  .vibely-toast {
    border-radius: 20px !important; 
  }
  .suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--tertiary-bg);
  border-radius: var(--border-radius);
  list-style: none;
  z-index: 10;
  margin-top: 0.5rem;
  max-height: 300px;
  width: 130%;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  scrollbar-width: none;
}
}
.fa-backward{
  padding: 10px;
}
.back-button{
  border-radius: 20%;
  margin-top: 20px;
}

/* Add this to the top of your App.css */

#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it is on top of everything */
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.splash-logo {
  width: 150px;
  height: 150px;
  animation: pulse-and-fade-in 2s forwards;
}

/* Define the animation */
@keyframes pulse-and-fade-in {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* This class will be added by JavaScript to hide the splash screen */
.hidden {
  opacity: 0;
  visibility: hidden;
}
.profile-button{
  background: none;
  color: #07f35e;
  border: none;
  box-shadow: 0 0 20px #69f99e;
  height: 24px;
  border-radius: 50%;
  padding: 0 !important;
}

